<ion-content>
  <div class="flex-center">
    <ion-card>
      <ion-card-header>
        <ion-card-title color="success">Tech & Mac</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-item>
          <ion-input type="text" placeholder="username"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input type="password" placeholder="Password"></ion-input>
        </ion-item>

        <ion-item>
          <ion-button color="dark" fill="clear">FORGOT EMAIL/PASSWORD</ion-button>
        </ion-item>
        <br>
        <ion-button (click)="loginMe()" size="full">Login</ion-button>
        <ion-button size="full">Register</ion-button>
      </ion-card-content>
    </ion-card>
  </div>



</ion-content>